<h2>Search  </h2>
<form>
	
	<input type="search" class="" name="query" [(ngModel)]="query" (keyup.enter)="search()">	
	<button type="button" class="btn" (click)="search()">Search</button>
</form>
<br>
<table *ngIf="searchResults" class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Address</th>
			<th>edit</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let person of searchResults; let i=index ">
			<td>{{person.name}}</td>
			<td>{{person.phone}}</td>
			<td>{{person.address.street}}<br/>
				{{person.address.city}}, {{person.address.state}} {{person.address.zip}}
			</td>
			<td><a [routerLink]="['/edit', person.id]">{{person.name}}</a></td>
		</tr>
	</tbody>
</table>